.registration {
    &__page {
        height: 100vh;
        background-image: url(./bg.jpg);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__container {
        display: flex;
        align-items: center;
    }
    &__logo {
        margin-right: 150px
    }
    &__row {
        background-color: #fff;
        padding: 60px 50px;
    }
}